/EnergeticDevelopment/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/EnergeticDevelopment/obj/Debug/net5.0/EnergeticDevelopment.AssemblyInfo.cs
/EnergeticDevelopment/obj/Debug/net5.0/EnergeticDevelopment.AssemblyInfoInputs.cache
/EnergeticDevelopment/obj/Debug/net5.0/EnergeticDevelopment.assets.cache
/EnergeticDevelopment/obj/Debug/net5.0/EnergeticDevelopment.csproj.AssemblyReference.cache
/EnergeticDevelopment/obj/EnergeticDevelopment.csproj.nuget.dgspec.json
/EnergeticDevelopment/obj/EnergeticDevelopment.csproj.nuget.g.props
/EnergeticDevelopment/obj/EnergeticDevelopment.csproj.nuget.g.targets
/EnergeticDevelopment/obj/Debug/net5.0/EnergeticDevelopment.csprojAssemblyReference.cache
/EnergeticDevelopment/obj/Debug/net5.0/EnergeticDevelopment.GeneratedMSBuildEditorConfig.editorconfig
/EnergeticDevelopment/obj/project.assets.json
/EnergeticDevelopment/obj/project.nuget.cache
/EnergeticDevelopment/obj/project.packagespec.json
/EnergeticDevelopment/obj/rider.project.restore.info
